.rateItRating .wrapper, .mbrateItRating .wrapper {    
    background: url('../images/heart.gif');
}

div.rateItRating div.rateItRating-hover, div.mbrateItRating div.rateItRating-hover {
    background: url('../images/heart.gif') left;
}

div.rateItRating div.rateItRating-selected, div.mbrateItRating div.rateItRating-selected {
    background: url('../images/heart.gif') left;
}
