.rateItRating { 
    position: relative;
    display: inline-block; 
}

.mbrateItRating { 
    position: relative;
    opacity: 1;
}

.rateItRating .wrapper, .mbrateItRating .wrapper { 
   cursor: pointer;
	position: relative;
   diplay: inline-block;
   height: 16px;
}

.rateItRating[rel="not-rateable"] { 
   float: right;
}

.rateItRating[rel="not-rateable"] .wrapper { 
   cursor: default;
}

div.mod_rateit_top_ratings ul {
   padding: 0;
}

div.mod_rateit_top_ratings li {
   list-style-type: none;
}

div.mod_rateit_top_ratings div.rateItTitle {
   display: inline-block;
   max-width: 40%;
   min-height: 30px;
}

div.rateItRating div.rateItRating-hover, div.rateItRating div.rateItRating-selected, 
div.mbrateItRating div.rateItRating-hover, div.mbrateItRating div.rateItRating-selected {
    position: absolute;
}

.rateItRating .ratingText {
    color: #000;
}

.mbrateItRating .mbratingText {
    display: inline-block;
    color: #ccc;
}

.ratingText.ratingError {
	color: #f00;	
}

.rateItRating .ratingText.loading, .mbrateItRating .mbratingText.loading {
	background: url('../images/ajax-loading.gif') no-repeat;
	/*text-indent: -999em;*/
}

span.rating-microdata {
	display: none;
}
