
<ul>
  <?php foreach ($this->body as $class=>$row): ?>
    <?php foreach ($row as $col): ?>
      <?php if ($col->addImage): ?>
        <li class="<?php echo $class; ?> <?php echo $col->class; ?>">
          <div class="image_container"<?php if ($col->margin): ?> style="<?php echo $col->margin; ?>"<?php endif; ?>>
            <?php if ($col->href): ?>
              <a href="<?php echo $col->href; ?>"<?php echo $col->attributes; ?> title="<?php echo $col->alt; ?>"><img src="<?php echo $col->src; ?>"<?php echo $col->imgSize; ?> alt="<?php echo $col->alt; ?>" /></a>
            <?php else: ?>
              <img src="<?php echo $col->src; ?>"<?php echo $col->imgSize; ?> alt="<?php echo $col->alt; ?>" />
            <?php endif; ?>
            <?php if ($col->caption): ?>
              <div class="caption" style="width:<?php echo $col->arrSize[0]; ?>px"><?php echo $col->caption; ?></div>
            <?php endif; ?>
          </div>
          <!-- indexer::stop -->
          <div id="<?php echo $this->arrRating[$col->singleSRC]['rateItID']; ?>" class="<?php echo $this->arrRating[$col->singleSRC]['rateit_class']; ?>">
              <?php if ($this->arrRating[$col->singleSRC]['showBefore']) : ?>
              <div id="<?php echo $this->arrRating[$col->singleSRC]['descriptionId']; ?>" class="ratingText"><?php echo $this->arrRating[$col->singleSRC]['description']; ?></div>
              <?php endif; ?>
              <div class="wrapper">
                  <div class="rateItRating-selected" style="display: block;"></div>
                  <div class="rateItRating-hover"></div>
              </div>
              <?php if ($this->arrRating[$col->singleSRC]['showAfter']) : ?>
              <div id="<?php echo $this->arrRating[$col->singleSRC]['descriptionId']; ?>" class="ratingText"><?php echo $this->arrRating[$col->singleSRC]['description']; ?></div>
              <?php endif; ?>
          </div>
          <!-- indexer::continue -->
        </li>
      <?php endif; ?>
    <?php endforeach; ?>
  <?php endforeach; ?>
</ul>
<script type="text/javascript">
/* <![CDATA[ */
    var arrRatings = new Array();
    <?php $i = 0; ?>
    <?php foreach ($this->arrRating as $url=>$rating): ?> 
        arrRatings[<?php echo $i;?>] = new Object();
        arrRatings[<?php echo $i;?>]["URL"] = "<?php echo $url; ?>";
        arrRatings[<?php echo $i;?>]["rated"] = false;
        <?php foreach ($rating as $key=>$value): ?>
            arrRatings[<?php echo $i;?>]["<?php echo $key; ?>"] = "<?php echo $value; ?>";
        <?php endforeach; ?>
        <?php $i = $i + 1; ?>
    <?php endforeach; ?>
/* ]]> */
</script>
